!!! Traditional
%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %title= @content_for_meta_title.blank? ? @cms_config['website']['name'] : "#{yield(:meta_title).strip} - #{@cms_config['website']['name']}"
    - unless @content_for_meta_description.blank?
      %meta{:name => "description", :content => yield(:meta_description).strip }
    - # This rather lengthy section of the head includes all javascripts and stylesheets used throughout the application, included depending upon specific conditions of the view
    - # Include jQuery and jQuery Tools
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"
    = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/animatedcollapse.js"
    = #javascript_include_tag "http://cdn.jquerytools.org/1.0.2/jquery.tools.min.js"
    = #javascript_include_tag "http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js"
    - if @calendar_select
      = stylesheet_link_tag "/plugin_assets/siteninja_core/stylesheets/jquery-ui-1.8.6.custom.css"
      = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/jquery-ui-timepicker-addon.js"
      :javascript
        jQuery(document).ready(function($) {
        $('.datetimepicker').datetimepicker({
        ampm: true
        });
        });
    - else
      = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/jquery.tools.min.js"
    - # noConflict makes jQuery play nicely with Prototype
    = javascript_tag "jQuery.noConflict();"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? # Enable jQuery to asyncronously call the app
    - # Include Fancybox for inline pop-ups
    = javascript_include_tag "/plugin_assets/siteninja_core/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js"
    = javascript_include_tag "/plugin_assets/siteninja_core/jquery.fancybox-1.3.4/fancybox/jquery.easing-1.3.pack.js"
    = stylesheet_link_tag "/plugin_assets/siteninja_core/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css"
    = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/ninja_fancy.js"
    - # Include Prototype and Scriptaculous
    = javascript_include_tag :defaults
    = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/sortable_tree.js"
    = # javascript_include_tag "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js"
    = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/application.js"
    - # Global styles
    = stylesheet_link_tag "/plugin_assets/siteninja_core/stylesheets/application.css"
    - # Styles to include if site uses specific modules
    - if @cms_config['modules']['blog']
      = stylesheet_link_tag "/plugin_assets/siteninja_blogs/stylesheets/blog.css"
    - if @cms_config['modules']['galleries']
      = stylesheet_link_tag "/plugin_assets/siteninja_galleries/stylesheets/galleries.css"
    - if @cms_config['modules']['events']
      = stylesheet_link_tag "/plugin_assets/siteninja_events/stylesheets/events.css"
    - if @cms_config['modules']['store']
      = javascript_include_tag "/plugin_assets/siteninja_store/javascripts/jquery.formatCurrency-1.3.0.min.js"  
    - if logged_in? # admin is logged in
      = stylesheet_link_tag "/plugin_assets/siteninja_core/stylesheets/admin_menu.css"
      - # Textile includes are commented out until implemented
      - # = javascript_include_tag "markitup/jquery.markitup"
      - # = javascript_include_tag "markitup/sets/textile/set"
      - # = stylesheet_link_tag "/javascripts/markitup/skins/markitup/style.css"
      - # = stylesheet_link_tag "/javascripts/markitup/sets/textile/style.css"
      - if @admin # only needed if in the CMS admin sections
        = stylesheet_link_tag "/plugin_assets/siteninja_core/stylesheets/admin.css"
        = stylesheet_link_tag "/plugin_assets/siteninja_galleries/stylesheets/admin_galleries.css"
        = include_tiny_mce_if_needed
      - if current_user
        <!--[if lt IE 8]>
        %style{:tyle => "text/css"}
          div#admin-menu { background: #333 !important; position: relative; }
          div#top-margin { height: 70px; }
        <![endif]--> 
    - unless @settings.stylesheet.blank?
      -if controller_name == "sessions"
        %style{:type => "text/css"}
          = @settings.stylesheet
      -else
        = stylesheet_link_tag "/stylesheet.css"
    - else
      - unless session[:template]
        = #stylesheet_link_tag "/plugin_assets/siteninja_core/templates/#{@cms_config['website']['template']}"
        = stylesheet_link_tag "victorygyms"
      - else
        = stylesheet_link_tag "/plugin_assets/siteninja_core/templates/#{session[:template]}"
    = stylesheet_link_tag "/stylesheet/additional_styles.css" unless @settings.additional_styles.blank?
    
    - # Include galleryview for slideshow if one is used.
    - if @slideshow
      = stylesheet_link_tag "/plugin_assets/siteninja_core/jquery-galleryview-3.0b3/css/jquery.galleryview-3.0.css"
      = javascript_include_tag "/plugin_assets/siteninja_core/jquery-galleryview-3.0b3/js/jquery.galleryview-3.0.js"
      = javascript_include_tag "/plugin_assets/siteninja_core/jquery-galleryview-3.0b3/js/jquery.timers-1.2.js"
      = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/ninja_slideshow.js"
    - if @cms_config['site_settings']['dropdown_menus']
      = javascript_include_tag "/plugin_assets/siteninja_core/javascripts/ddsmoothmenu.js"
      = stylesheet_link_tag "/plugin_assets/siteninja_core/javascripts/ddsmoothmenu.css"
      :javascript
        function init_ddsmoothmenu() {
        ddsmoothmenu.init({
        mainmenuid: "menu-middle", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })
        };
      - content_for :onload do
        init_ddsmoothmenu()
    = stylesheet_link_tag "/plugin_assets/siteninja_core/stylesheets/print.css", :media => "print"
    - if !@settings.favicon_file_name.blank?
      %link{:rel => "shortcut icon", :href => @settings.favicon(:original)}    
    = yield :head # For scripts and styles specific to view
    = yield :styles
    - if @admin # only needed if in the CMS admin sections
      = stylesheet_link_tag "/plugin_assets/siteninja_core/stylesheets/admin.css"
      = stylesheet_link_tag "/plugin_assets/siteninja_galleries/stylesheets/admin_galleries.css"
      = include_tiny_mce_if_needed
        
    = @cms_config['site_settings']['head_script'] unless @admin
    - if @content_for_onload
      %script{:type => "text/javascript"}
        Event.observe(window, 'load', function() {
        = yield :onload
        });
  %body{:id => (@admin ? "admin" : "public"), :onload => "ImageBook()"}
    = #debug Draft.first
    - #parsed_json = ActiveSupport::JSON.decode(Draft.first.draft_fields)
    = #debug parsed_json.values.first
    = render :partial => "/layouts/admin_menu" if logged_in?
    = render :partial => "/layouts/templates" if !@admin and @cms_config['website']['demo']
    #wrapper-outer{:class => @cms_config['website']['logo_position'] == "top" ? "top-logo" : "inline-logo"}
      #wrapper-middle
        #wrapper-inner
          #header-outer
            #header-middle
              #header-inner
                - if @cms_config['website']['demo']
                  - unless logged_in?
                    #sign_in_button
                      = link_to "CMS Login", new_session_path, :class => 'bold green'
                      %span Give it a try!
                - if @cms_config['website']['logo_position'] == "top" or @admin
                  #logo
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/v-logo.png", :alt => "Victory MMA and Fitness", :title => "Victory MMA and Fitness", :id => "victory-logo"), "/")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/victory-gyms.png", :alt => "Victory MMA and Fitness", :title => "Victory MMA and Fitness", :id => "victory-title"), "/")
                  #header-links
                    = link_to(image_tag("http://s3.amazonaws.com/siteninja/victorygyms-com/1309304263/original/Gracie-Jiu_Jitsu.png", :alt => "Gracie Humaita"), "/gracie-humaita")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/facebook-button.gif", :alt => "Facebook"), "http://www.facebook.com/victorygyms")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/twitter-button.gif", :alt => "Twitter"), "http://www.twitter.com/victory_mma_bjj")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/youtube-button.gif", :alt => "YouTube"), "http://www.youtube.com/throwdownelitesd")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/shop-online-button.gif", :alt => "Shop Online"), "/products", :id => "shop-online")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/franchise-button.jpg", :alt => "Send Franchise Information"), "/franchise-opportunities", :id => "send-info")
                  = clear if @admin
                - if !@settings.header_right_file_name.blank? and !@admin
                  #header-right
                    = link_to(image_tag(@settings.header_right(:original), :alt => @cms_config['website']['name'], :title => @cms_config['website']['name']), @settings.header_right_url)
                - if !@settings.header_text.blank?
                  = @settings.header_text
                  = #@settings.header_text.gsub(/\#{ (.{0,}?) }/m) {|x| eval($1)}
          = render :partial => "/layouts/menu" unless @admin
          = yield :submenu if @content_for_submenu
          = yield :banner if @content_for_banner
          #pre-content-outer
            #pre-content-middle
              #pre-content-inner
                - if @breadcrumbs
                  #crumb= @breadcrumbs.map { |txt, path| link_to_unless(path.blank?, h(txt), path) }.join(" > ")
          #content-outer
            #content-middle
              #content-inner{:class => ((@content_for_side_column and @content_for_side_column_2) ? "with-side-columns" : ((@content_for_side_column or @content_for_side_column_2) ? (@content_for_side_column ? "with-side-column" : "with-side-column-2") : ""))}
                = yield :wide_feature_box if @content_for_wide_feature_box
                - if @content_for_side_column_2
                  #side-column-2.sidebar
                    = yield :side_column_2
                #main-column
                  = flash_div
                  - secure unless @cms_config['website']['demo'] || RAILS_ENV=="development"
                  = yield
                - if @content_for_side_column
                  #side-column.sidebar
                    = yield :side_column
                = clear
          - unless @admin
            #footer-outer
              #footer-middle
                #footer-inner
                  = link_to(image_tag("/plugin_assets/victory_gyms/images/victory-logo-footer.png", :alt => "Victory MMA and Fitness"), "/", :id => "footer-logo")
                  = render :partial => "/layouts/footer_menu"
                  = clear
                  #footer-links
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/facebook-button.gif", :alt => "Facebook"), "http://www.facebook.com/victorygyms")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/twitter-button.gif", :alt => "Twitter"), "http://www.twitter.com/victory_mma_bjj")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/yelp-button.gif", :alt => "Yelp"), "http://www.yelp.com/biz/victory-mma-and-fitness-san-diego-2")
                    = link_to(image_tag("/plugin_assets/victory_gyms/images/rss-button.gif", :alt => "RSS Feed"), "/article.rss")
                  #footer_credits
                    = @settings.footer_text.gsub('#YEAR#', Date.today.year.to_s)

    - if Rails.env.production? and !@admin and !@settings.tracking_code.blank?
      = @settings.tracking_code
  = yield :footer if @content_for_footer
